@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

summary::-webkit-details-marker {
  display: none !important;
}

/* react-datepicker */

.react-datepicker {
  font-family: inherit !important;
  color: #1f1f1f !important; /* pr-black */
  border-color: #737475 !important; /* pr-dark-grey */
}

.react-datepicker,
.react-datepicker__day,
.react-datepicker__current-month,
.react-datepicker-time__header {
  color: #1f1f1f !important; /* pr-black */
}

.react-datepicker__header {
  background-color: #f1f3f5 !important; /* pr-grey */
  border-color: #737475 !important; /* pr-dark-grey */
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 0.75rem !important;
}

.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #f1f3f5 !important; /* pr-grey */
}

@media (hover: hover) {
  .react-datepicker__day:hover,
  li.react-datepicker__time-list-item:hover {
    background-color: #737475 !important; /* pr-dark-grey */
    color: white !important;
  }
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #737475 !important; /* pr-dark-grey */
  color: white !important;
}

.react-datepicker__day--selected,
li.react-datepicker__time-list-item--selected {
  background-color: #1f1f1f !important; /* pr-black */
  color: white !important;
}

.react-datepicker__time-container,
.react-datepicker__navigation-icon::before {
  border-color: #737475 !important; /* pr-dark-grey */
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle {
  left: -25% !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  border-bottom-color: #737475 !important; /* pr-grey */
}

.react-datepicker-popper[data-placement^='top']
  .react-datepicker__triangle::before {
  border-top-color: #737475 !important; /* pr-dark-grey */
}

/* mapbox */

#map {
  position: relative;
  z-index: 0;
}
